.ambasing {
  text-align: center;
}

map {
    display: flex;
  justify-content: center;
}

psu {
    display: flex;
  justify-content: center;
}

migas {
  display: flex;
  justify-content: center;
}

lagu {
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner img {
  display: none;
  width: 100%;
  height: auto;
}

.carousel-inner img.active{
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(172, 50, 50, 0.5);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}